.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  row-gap: 1rem;
}
#root {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0 0 5rem 0;
}

.array-container {
  border: 1px solid black;
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(var(--arrayLength), 1fr);
  grid-template-rows: 1fr;
  height: 2rem;
  border-radius: 0.2rem;
}

.array-element {
  border-left: 2px solid green;
  border-right: 2px solid green;
  background: var(--bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.array-element:first-child {
  border-left: none;
}

.array-element:last-child {
  border-right: none;
}

.example {
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: 4fr 1fr 3fr;
  width: 100%;
  border-bottom: 1px dashed black;
  padding-bottom: 1rem;
}

.impure-operation {
  background: #ffe1a9d9;
}

.in-place {
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
}

.example-element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
}

.legend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.legend-color {
  width: 2rem;
  height: 2rem;
  background: orange;
  border-radius: 1rem;
}

/* Generic code */

.knnect-tools{
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.knnect-tool {
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 14px -4px;
}